@import 'fonts';
@import 'colors';

:root {
  //z-index
  --z-0: 0
  --z-10: 10
  --z-20: 20
  --z-30: 30
  --z-40: 40
  --z-50: 50
}


::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background: var(--secondary);
  &:hover {
  background: var(--secondary-font-color);
  }
}

::-webkit-scrollbar-track {
  background: var(--background);
}


html,
body {
  background: #070a13;
  height: 100%;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif, system-ui, -apple-system;
}